* {
font-family: 'Raleway', sans-serif;
}

body {
	background-color: #e6e7e8;
	margin: 0;
}

.homeHeader {
	display: inline-block;
	width: 100%;
	border-bottom: solid #e6e7e8;
	background-color: white;
}

#button_header {
	display: inline-flex;
	float: right;
}

#submitButton, #home, #myProfile {
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	background-color: #34b3a0;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

#aboutSection, #aboutHeader {
	margin-top: 20px;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

#hometitle, h1 {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/*end header css*/

input, textarea {
	font-size: 14px;
	border: 1px solid #b0b0b2;
	color: black;
	font-family: 'Raleway', sans-serif;
}

#submitBody {
	width: 100%;
	text-align: center;
}

#submit-form {
	display: inline-block;
}

input, textarea {
	display: block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	width: 254px;
	color: #b0b0b2;
	font-family: 'Raleway', sans-serif;
}

#sendButton {
	width: 40px;
	border: 1px solid black;
	text-align: center;
	padding: 5px 8px 5px 8px;
	font-size: 12px;
	width: auto;
	margin: auto;
	margin-right: 10px;
}

#googlemaps { 
	  height: 100%; 
	  width: 100%; 
	  position:absolute; 
	  margin-top: 60px;
	  top: 0; 
	  left: 0; 
	  z-index: 0; 
	  margin-bottom: 0;
}
 
#travelblock { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 500px;
  margin: 40px auto 0;
  padding: 10px;
  background: black;
  height: auto;
  opacity: .65; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
}

/*footer*/

#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

.footerbox {
 /* position: fixed;*/
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: white;
  width: 100%;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    width: 100%;
    word-spacing: 20px;
    bottom:0;
    height: 3em;
    z-index: 1;
  	opacity: .65;  Set the opacity for a slightly transparent Google Form 
  	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-style: bold;
	color: black;
	text-transform: uppercase;
	font-size: 20px;
}

#footer a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	bottom:0;
}