* {
font-family: 'Raleway', sans-serif;
font-weight: 400;
}

/*body {
	background-color: white;
	margin: 0;
}*/

.homeHeader {
	display: inline-block;
	width: 100%;
	background-color: white;
	margin-bottom: -35px;
}

#button_header {
	display: inline-flex;
	float: right;
}

#hometitle {
	display: inline-block;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 42px;
	color: grey;
}

#submitButton, #search_location, #see_All, #myProfile, #home, #FB, #logout {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 9px 10px 9px 10px;
	border-style: solid #34b3a0;
	border: 1.5px solid #000;
    border-color: #34b3a0;
    background-color: white;
	font-size: 14px;
	color: #34b3a0;
	border-radius: 5px;
	font-size: 12px;
}

#hometitle, h1 {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/*end header css*/
#backgroundpic {
	background-image: url("backpacker.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}


input, textarea {
	font-size: 14px;
	border: 1px solid #b0b0b2;
	color: black;
	font-family: 'Raleway', sans-serif;
}


#submitBody {
	width: 100%;
	text-align: center;
}

#submit-form {
	display: inline-block;
	font-size: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}


#submit-form input, textarea {
	display: block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	width: 254px;
	font-family: 'Raleway', sans-serif;
}

#sendButton {
	border-style: solid #34b3a0;
	border: 2.5px solid #000;
    border-color: #34b3a0;
    background-color: white;
	font-size: 14px;
	color: grey;
	width: 40px;
	border: 1px solid black;
	text-align: center;
	padding: 5px 8px 5px 8px;
	font-size: 12px;
	width: auto;
	margin: auto;
	margin-right: 10px;

}

#googlemaps {
	  height: 100%;
	  width: 100%;
	  position:absolute;
	  margin-top: 60px;
	  top: 0;
	  left: 0;
	  z-index: 0;
	  margin-bottom: 0;
}

#travelblock {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 500px;
  margin: 40px auto 0;
  padding: 10px;
 /* background: black;*/
  height: auto;
  opacity: .65; /* Set the opacity for a slightly transparent Google Form */
  color: white;
}

/*footer*/

#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

.footerbox {
 /* position: fixed;*/
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: white;
  width: 100%;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    width: 100%;
    word-spacing: 20px;
    bottom:0;
    height: 3em;
    z-index: 1;
  	opacity: .65;  Set the opacity for a slightly transparent Google Form
  	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-style: bold;
	color: black;
	text-transform: uppercase;
	font-size: 20px;
}

#footerright a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	bottom:0;
}
