/*// notes:
I don't know why the caption div changes sizes.
You can see what I'm talking about in inspect element.
I want all of the titles to line up.

The "dates" class isn't picking up styling.  It was originally date
and I changed it to dates to match the html but it still isn't working.
*/

<style>

* {
  font-family: Lato;
  font-weight: lighter;
}
/*Heading */
.page-wrap {
  margin-bottom: 20px;
}

.homeHeader {
  display: inline-block;
  width: 100%;
}

#button_header {
  display: inline-flex;
  float: right;
}

#hometitle {
  display: inline-block;
  width: 100%;

 }

 .hotelbutton{
    height:30px;
}
#submitButton, #myProfile, #home, #FB, #logout {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  border-style: solid #34b3a0;
  border: 2.5px solid #000;
    border-color: #34b3a0;
    background-color: white;
  font-size: 14px;
  color: grey;
}

/*image grid css*/
#imagegrid {
  margin: 50px;
}

.card {
  border: 4px solid grey;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 316px;
}

.card img {
  float: left;
  max-width: 300px;
  max-height: 400px;
  padding: 20px;
}

.caption {
   max-width: 424px;
   font-size: 40px;
   float: right;
   margin-top: -7px;
   margin-right: 150px;
   padding: -7px;
   padding-top: 15px;
   padding-left: 60px;
   color: grey;
}

.activity {
    max-width: 424px;
    padding: 30px;
    float: right;
   /* padding: -9px;*/
   /* border: 2px solid black;*/
    font-size: 16px;
    color: grey;
    word-wrap: break-word;  /*// I thnk this makes text that's too long not show up, like the test....*/
}

.dates {
    /*border:2px solid red;*/
    font-size: 20px;
    color: grey;
    float: right;
}


/*end image grid css*/
/*

footer*/
#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

.footerbox {
  position: relative;
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: white;
  width: 100%;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    width: 100%;
    word-spacing: 20px;
    bottom:0;
    height: 3em;
    z-index: 1;
    opacity: .65;  Set the opacity for a slightly transparent Google Form
    font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

#footerright a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  bottom:0;
}

</style>
