* {
  font-family: Lato;
  font-weight: lighter;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}

/*  page-specific css*/

#homepic {
  background-image: url("homepage.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}

#info{
    max-width: 35%;
    padding-top: 4%;
    float: right;
    padding-right: 5%;
}

#homepic img {
  width: 100px;
  height: 100px;
}

.item{
  height:300px;
    width:300px;
    position:relative;
  }

.inner{
  z-index:100;
  position:absolute;
  color:white;
  font-size:24px;
  font-weight:bold;
  left:150px;
  top:80px;
}

  .item img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
  }

.homeHeader {
  display: inline-block;
  width: 100%;
}

#button_header {
  display: inline-flex;
  float: right;
}

#hometitle {
  display: inline-block;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: grey;
}

#landingHeader {
  margin-top: 80px;
  text-align: center;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#submitButton, #search_location, #see_All, #myProfile, #home, #FB, #logout {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  padding: 9px 10px 9px 10px;
  border-style: solid #34b3a0;
  border: 1.5px solid #000;
    border-color: #34b3a0;
    background-color: white;
  font-size: 14px;
  color: #34b3a0;
  border-radius: 5px;
  font-size: 12px;
}

/*footer*/

#footerright {
  /*float: right;*/
  margin-right: 3%;
  padding-top: 10px;
}

#footerright a {
  text-decoration: none;
}

#footerabout {
  border-bottom-style: solid;
  text-align: left;
  word-spacing: .5em;
}


/*.site-footer, .page-wrap:after {
  height: 142px;
}
*/
/*#footer ul { list-style: none; }
#footer ul li { display: inline; }
*/
.site-footer, .page-wrap:after {
   height: 142px;
  /*position: fixed;*/
/*  box-sizing: border-box;*/
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  left: 0;
  /*height: 50px;*/
  background-color: white;
  /*border-top: solid #e6e7e8;*/
  width: 100%;
/*  z-index: 1;*/
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    width: 100%;
    word-spacing: 20px;
   /* bottom:0;*/
    /*height: 3em;*/
    font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: bold;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 16px;
}

#footer a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}



/*  misc code*/

h1, h2, #tips, #depart, #resultsdestination, #itineraryDescription {
	display: inline-block;
	width: 50%;
	text-align: center;
}

results_itin {
	border: 2px solid;
	display: inline-block;
	width: 100%;
	text-align: center;
}

#heartsp{
	text-align: center;
}
#button_header {
	display: inline-flex;
	float: right;
}

#itinerary {
	padding: 15px 15px 15px 15px;
}

/*more*/

#image1 {
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
}

.itinerary {
	width: 50%;
}
/*NOTE: I'm trying to make the text align with the photo*/

.allGrid {
	width: 75%;
	margin: 30px;
}

#gridText {
text-align: center
}

#dayPara {
	text-align: left;
	width: 75%;
	margin: 30px;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
