/*// notes:
I don't know why the caption div changes sizes.
You can see what I'm talking about in inspect element.
I want all of the titles to line up.

The "dates" class isn't picking up styling.  It was originally date
and I changed it to dates to match the html but it still isn't working.
*/



* {
  font-family: Lato;
  font-weight: lighter;
}
/*Heading */
.page-wrap {
  margin-bottom: 20px;
}

.homeHeader {
  display: inline-block;
  width: 100%;
}

#button_header {
  display: inline-flex;
  float: right;
}

#hometitle {
  display: inline-block;
  width: 100%;

 }

 .hotelbutton{
    height:30px;
}
#submitButton, #search_location, #see_All, #myProfile, #home, #FB, #logout {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  padding: 9px 10px 9px 10px;
  border-style: solid #34b3a0;
  border: 1.5px solid #000;
    border-color: #34b3a0;
    background-color: white;
  font-size: 14px;
  color: #34b3a0;
  border-radius: 5px;
  font-size: 12px;
}
/*image grid css*/
#imagegrid {
  width: 100%;
  margin-right: 50%;
  margin-left: auto;
}

#all {
  text-align: center;
  font-size: 40px;
  color: #85D1C6;
  margin: 50px 0px 30px 0px;
}

.card {
  border: 1px solid lightgrey;
  margin: 10px 10px 10px 40px;
  max-width: 424px;
  min-height: 390px;
  width: 100%;
  height: auto;
  display: inline-block;
}

.card img {
  float: left;
  width: 50%;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 22px;
}

.caption {
   max-width: 424px;
    font-size: 40px;
    margin-top: -7px;
    margin-right: 150px;
    padding: -7px;
    padding-top: 15px;
    color: grey;
    text-align: center;
}

.activity {
    width: auto;
    height: 50%;
    padding: 10px 10px 10px 10px;
    float: right;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    color: grey;
    word-wrap: break-word;  /*// I thnk this makes text that's too long not show up, like the test....*/
}

.dates {
    /*border:2px solid red;*/
    font-size: 12px;
    color: grey;
    float: right;
    font-family: Lato;
}


/*end image grid css*/
/*

footer*/
#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

.footerbox {
  position: relative;
  bottom: 0;
  left: 0;
  height: 30px;
  background-color: white;
  width: 100%;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    width: 100%;
    word-spacing: 20px;
    bottom:0;
    height: 3em;
    z-index: 1;
    opacity: .65;  Set the opacity for a slightly transparent Google Form
    font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

#footerright a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  bottom:0;
}
