* {
	font-family: Lato;
	font-weight: lighter;
}


.homeHeader {
	display: inline-block;
	width: 100%;
}

#button_header {
	display: inline-flex;
	float: right;
}

#hometitle {
	display: inline-block;
	width: 100%;
}

#landingHeader {
	margin-top: 80px;
	text-align: center;
}

#submitButton, #myProfile, #home {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#searchBox {
	text-align: center;
	padding: 8px 8px 8px 8px;
}

input {
	padding: 8px 8px 8px 8px;
}

#explore_div {
margin-top: 30px;
}

thead {
	width: 100%;
}

#exploreHeader {
	text-align: center;
	margin-top: 30px;
}

#explore {
	margin-top: 50px;
}


tr {
	text-align: center;
}

table {
	width: 100%;
}

.images {
	height: 150px;
	width: 150px;
}

/*footer*/


#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

#footer {
    text-align: center;
    padding:5px; 
    padding-top: 5px;
    margin-top: 70px;
    width: 100%;
    word-spacing: 30px; 
    height: 3em;
}
 
