* {
	font-family: Lato;
	font-weight: lighter;
}
/*
test */
/*test*/

#hometitle, h1 {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#button_header {
	display: inline-flex;
	float: right;
}

.homeHeader {
	display: inline-block;
	width: 100%;
}

#myProfile, #home, #submitButton {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

input, textarea {
	font-size: 14px;
	border: 1px solid grey;
}

#submitBody {
	width: 100%;
	text-align: center;
}

#submit-form {
	display: inline-block;
}

input, textarea {
	display: block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	width: 254px;
}

#sendButton {
	width: 40px;
	border: 1px solid black;
	text-align: center;
	padding: 5px 8px 5px 8px;
	font-size: 12px;
	width: auto;
	margin: auto;
	margin-right: 10px;
}