* {
	font-family: Lato;
	font-weight: lighter;
}
/*
test */
/*test*/

div {
	border: 1px solid black;
}

#hometitle, h1 {
	display: inline-block;
	width: 100%;
}

#button_header {
	display: inline-flex;
	float: right;
}

.homeHeader {
	display: inline-block;
	width: 100%;
}

#myProfile, #home, #submitButton {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

#form {
	padding: 15px 15px 15px 15px;
}