* {
	font-family: Lato;
	font-weight: lighter;
}

div {
	border: 1px solid black;
}

#submitButton, #myProfile, #home {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
}

h1 {
	display: inline-block;
	width: 100%;
	text-align: center;
}


#favoriteButton {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	text-align: center;
	width: 100%;
}

#button_header {
	display: inline-flex;
	float: right;
}

#itinerary {
	padding: 15px 15px 15px 15px;
}

/*more*/

#image1 {
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
}

.itinerary {
	width: 50%;
}
/*NOTE: I'm trying to make the text align with the photo*/




